body {
	margin-left:20px;
	margin-top:20px;
	font-family:'Andalé Mono', monospace;
	background-color:#e6c7ac;
}

#page-container{
	display:flex;
	flex-direction:column;
	align-items:center;
}

#main-header {
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#haiku-container{
	padding:20px;
	height:450px;
	width:55%;
	display:flex;
	flex-direction:column;
	justify-content:start;
	align-items:center;
	border:solid 2px #6e5a49 ;
	border-radius:10px;
	background-color:#a1846a;
}


#get-haiku{
	height:50px;
	width:250px;
	font-size:20px;
	border-radius:5px;
	font-weight:bold;
	background-color:#a1846a;
	border:solid 2px black ;

}

#get-haiku:hover{
	background-color:#e6c7ac;
	cursor:pointer;
}

#haiku-space{
	height:350px;
	width:90%;
	margin-right:5%;
	margin-left:5%;
	margin-top:30px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
	font-style:italic;
}

@media (max-width: 900px) {
	
	body{
		margin-left:10px; 
		margin-right:10px;
	}

	body h1 {
		font-size:24px;
	}

	#haiku-container {
		width:90%;
	}

}